@using Ecommerce_KTPM.Models
@{ 
    TaiKhoanTV t = Session["DangNhap"] as TaiKhoanTV;
    var a = new EcommerceEntities().ThongBaos.Where(m => m.TKTV == t.TKTV && (m.trangThai != null && m.trangThai != "DDc")).Count();

}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>DASHMIN - @ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/Areas/PrivateShop/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Areas/PrivateShop/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet"/>

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/Areas/PrivateShop/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Template Stylesheet -->
    <link href="~/Areas/PrivateShop/css/style.css" rel="stylesheet">

</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->
        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-light navbar-light">
                <a href="@Url.Action("Dashboard", "Dashboard")" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa me-2">Bán hàng</i></h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="@t.hinhDD" alt="" style="width: 40px; height: 40px;">
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">@t.tenTV</h6>
                        <span>Người bán hàng</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a href="@Url.Action("DashBoard", "DashBoard")" class="nav-item nav-link act"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                    <a href="@Url.Action("LoaiHang", "LoaiHang")" class="nav-item nav-link act"><i class="far fa-file-alt me-2"></i>Thêm loại hàng</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Sản phẩm</a>
                        <div class="dropdown-menu bg-transparent ">
                            <a href="@Url.Action("DSSanPham", "SanPham")" class="dropdown-item act"><i class="fa fa-table me-2"></i>Danh sách</a>
                            <a href="@Url.Action("ThemSPMoi", "SanPham")" class="dropdown-item act"><i class="fa fa-th me-2"></i>Đăng bán hàng</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Đơn hàng</a>
                        <div class="dropdown-menu bg-transparent ">
                            <a href="@Url.Action("ChoXacNhan", "DonHangBan")" class="dropdown-item act">Chờ xác nhận</a>
                            <a href="@Url.Action("DangXuLy", "DonHangBan")" class="dropdown-item act">Đang xử lý</a>
                            <a href="@Url.Action("DaGiao", "DonHangBan")" class="dropdown-item act">Thành công</a>
                            <a href="@Url.Action("DonBiHuy", "DonHangBan")" class="dropdown-item act">Đơn bị hủy</a>
                            <a href="@Url.Action("TraHang", "DonHangBan")" class="dropdown-item act">Trả hàng</a>
                            <a href="@Url.Action("TatCa", "DonHangBan")" class="dropdown-item act">Tất cả đơn</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Danh sách yêu cầu</a>
                        <div class="dropdown-menu bg-transparent ">
                            <a href="@Url.Action("DSYeuCau", "YeuCau")" class="dropdown-item act">Danh sách yêu cầu</a>
                            <a href="@Url.Action("YeuCau", "YeuCau")" class="dropdown-item act">Gửi yêu cầu</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->
        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
                <a href="@Url.Action("Dashboard", "Dashboard")" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                <form class="d-none d-md-flex ms-4">
                    <input class="form-control border-0" type="search" placeholder="Search">
                </form>
                <div class="navbar-nav align-items-center ms-auto">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-bell me-lg-2"></i>
                            @{
                                if (a != 0)
                                {<span class="d-none d-lg-inline-flex" onclick="closeModal()"> Thông báo(@a)</span>}

                            }
                        </a>
                                <div id="myModal" class="modal">
                                    <div class="modal-content">
                                        @foreach (ThongBao i in (new EcommerceEntities().ThongBaos.Where(m => m.TKTV == t.TKTV && (m.trangThai != null && m.trangThai != "DDc")).ToList()))
                                        {
                                            <span class="close" onclick="closeModal()">&times;</span>
                                            <h3>@i.chuDe 123</h3>
                                            <p>@Html.Raw(i.noiDung)</p>
                                            <p>@string.Format("{0:dd/MM/yy}", i.ngayTB)</p>
                                            <a class="btn btn-outline-primary" href="@Url.Action("DaDoc","YeuCau",new {soTB=i.soTB ,url="Home", area="PrivateShop"})">Đã đọc</a>
                                        }
                                    </div>
                                </div>

                        
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <img class="rounded-circle me-lg-2" src="@t.hinhDD" alt="" style="width: 40px; height: 40px;">
                            <span class="d-none d-lg-inline-flex">@t.tenTV</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="@Url.Action("TrangThai", "TrangThai", new {area="PrivateShop"})" class="dropdown-item">My Profile</a>
                            <a href="@Url.Action("CapNhatThongTin", "TrangThai", new {area="PrivateShop"})" class="dropdown-item">Settings</a>
                            <a href="@Url.Action("Home", "Home", new {area=""})" class="dropdown-item">Quay về trang chủ</a>
                            <a href="@Url.Action("Logout", "SignIn", new {area=""})" class="dropdown-item">Log Out</a>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->
            @RenderBody()
        </div>
        <!-- Content End -->
        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Areas/PrivateShop/lib/chart/chart.min.js"></script>
    <script src="~/Areas/PrivateShop/lib/easing/easing.min.js"></script>
    <script src="~/Areas/PrivateShop/lib/waypoints/waypoints.min.js"></script>
    <script src="~/Areas/PrivateShop/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/Areas/PrivateShop/lib/tempusdominus/js/moment.min.js"></script>
    <script src="~/Areas/PrivateShop/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="~/Areas/PrivateShop/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <!-- Template Javascript -->
    <script src="~/Areas/PrivateShop/js/main.js"></script>
    <script src="~/Areas/PrivateShop/js/active.js"></script>
    <script src="~/Scripts/tinymce/tinymce.js"></script>
    <script src="~/Areas/PrivateShop/js/sapxeptable.js"></script>
    <script type="text/javascript">
        tinyMCE.init({
            selector: "textarea#floatingTextarea"
        })
        $('.hero__categories__all').on('click', function () {
            $('.hero__categories ul').slideToggle(400);
        });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
    document.addEventListener("DOMContentLoaded", function () {
        // Lấy khung hiển thị và nút đóng khung hiển thị
        var modal = document.getElementById("myModal");
        var closeButton = document.getElementsByClassName("close")[0];

        // Hàm mở khung hiển thị
        function openModal() {
            modal.style.display = "block";
        }

        // Hàm đóng khung hiển thị
        function closeModal() {
            modal.style.display = "block";
        }

        // Đóng khung hiển thị khi nhấn vào nút đóng khung hoặc click bên ngoài khung
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    });
    </script>
</body>

</html>